* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato";
}

html::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

.mandalay {
  margin-top: 90px;
  display: flex;
  gap: 20px;
}

header {
  width: 100%;
  position: relative;
  height: 100vh;
}
.nav-container {
  background-color: #c91f25;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  /* position: fixed;
  top: 0px; */
}
.open {
  display: none;
}

.res-nav {
  display: none;
}
.bd {
  white-space: nowrap;
}
.logo-container img {
  width: 200px;
  height: 100%;
}
nav ul {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav ul li {
  list-style-type: none;
  text-align: center;
}

.res-nav-items li {
  list-style-type: none;
  /* margin-left: 30px; */
  font-size: 20px;
  font-family: "Lato";
  border-bottom: 0.5px solid #000;
  margin-bottom: 5px;
  /* cursor: pointer; */
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: 0.5s ease-in-out;
  margin-top: 15px;
  margin-left: 10px;
}
.res-nav-items a {
  text-decoration: none;
  color: #000;
  transition: 0.5s ease-in-out;
  margin-top: 15px;
  margin-left: 10px;
}

nav ul li a:hover {
  color: #000;
  transition: 0.5s ease-in-out;
}

.sign-up {
  background: #6b1014;
  color: white;
  padding: 0px 13px;
  border-radius: 30px;
  cursor: pointer;
  /* font-weight: 800; */
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 20px;
  width: 110px;
  border: 1px solid transparent;
  transition: all 0.4s ease-in-out;
}

.sign-up a {
  text-decoration: none;
  color: #fff;
  white-space: nowrap;
}

.sign-up:hover {
  border: 1px solid #ffffff;
}
.sub-nav {
  background-color: #eff2f3;
  width: 100%;
}

.sub-nav-links {
  display: flex;
  justify-content: end;
  font-size: 12px;
  height: 60px;
}

.sub {
  margin-right: 70px;
}

.sub li a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  margin-top: 10px;
  font-size: 18px;
}

.sub img {
  background-color: #3a4852;
  width: 29px;
  /* height: 20px; */
  margin-right: 5px;
  padding: 5px 5px;
  border-radius: 20px;
}

.second-nav {
  margin-top: 15px;
}

.second-nav a {
  font-size: 18px;
}
.welcoming-text {
  color: #fff;

  height: 60vh;

  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent any overflow issues */
}

.welcoming-text p {
  margin: 20px 0 20px 0;
}

.join {
  background: #c91f25;
  color: white;
  padding: 20px 20px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  width: 200px;
  /* margin-bottom: 90px; */
  border: 1px solid transparent;
  transition: all 0.4s ease-in-out;
}

.join a {
  text-decoration: none;
  color: white;
}

.join:hover {
  background-color: #000;
  border: 1px solid #fff;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 9%;
  width: 650px;
  height: 343px;
  transform: translateY(-50%);
  z-index: 1;
  color: white;
  padding: 20px 30px;
  border-radius: 6px;
  background-color: #fff;
}

.small-hero {
  /* position: absolute; */
  /* display: none; */
  /* visibility: hidden; */
  right: 0;
  opacity: 0;
  width: 100%;
  height: 3403px;
  /* transform: translateY(-50%); */
  z-index: 9;
  color: white;
  padding: 20px 30px;
  border-radius: 6px;
  background-color: #fff;
}

.hero-text h2 {
  font-family: "Lato";
  color: #c91f25;
  font-size: 50px;
  color: #000;
  font-weight: 800;
}
.small-hero h2 {
  font-family: "Lato";
  color: #c91f25;
  font-size: 50px;
  color: #000;
  font-weight: 800;
}

.hero-text p {
  font-family: "Lato";
  color: #c91f25;
  font-size: 16px;
  /* white-space: nowrap; */
  color: #000;
  margin-bottom: 20px;
  margin-top: 20px;
}
.small-hero p {
  font-family: "Lato";
  color: #c91f25;
  font-size: 16px;
  white-space: nowrap;
  color: #000;
  margin-bottom: 20px;
  margin-top: 20px;
}

.carousel {
  width: 100vw;
  height: 100vh; /* Match the container height */
  position: absolute; /* Position absolutely within welcoming-text */
  top: 0;
  left: 0;
  z-index: 0;
  margin: 0px;
  padding: 0;
}

.carousel-item img {
  width: 100vw;
  height: auto;
  object-fit: contain;
  /* object-position: center top; */
  object-position: 85% 40%;
  transition: transform 1s ease-in-out;
}

.carousel-item {
  transition: opacity 2.2s ease-in-out;
}

/* the styling for the about section */
.about {
  font-family: "Lato";
  background-color: #c91f25;
  margin-top: -174px;
  height: 110vh;
}

.now {
  margin-top: 70px;
  display: flex;
  gap: 30px;
}
/* .squad {
  width: 540px;
} */
.about-us {
  background-color: #fff;
  display: inline;
  font-size: 17px;
  padding: 10px 15px;
  border-radius: 10px;
  color: #6b1014;
  font-weight: 900;
  margin-top: 50px;
}

.about-us .about h1 {
  text-align: center;
  color: #fff;
}

.about-text {
  margin-top: 97px;
  width: 60%;
}

.about-text p {
  font-size: 16px;
  color: #fff;
}

.about-text h2 {
  margin-top: 20px;
  font-size: 36px;
  color: #fff;
}

#About {
  margin-bottom: 100px;
  margin-top: 90px;
}

.about-experience {
  display: flex;
}

.about-experience h1 {
  font-size: 16px;
  font-weight: 800;
  color: #fff;
}

.experience {
  width: 80%;
  margin-top: 20px;
}

.support {
  width: 40%;
  margin-top: 20px;
}

.more {
  background-color: #6b1014;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
}

.call {
  background-color: #fff;
  color: #6b1014;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #6b1014;
}

.call span {
  color: #000;
}

.more a {
  color: #fff;
  text-decoration: none;
}
.membership {
  background-color: #fff;
  margin-top: 50px;
  text-align: center;
  width: 100%;
}
.membership-text {
  color: #000;
  text-align: center;
}

.member-header {
  font-size: 36px;
  padding-top: 60px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}

.various-mem {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}
.membership-text h1 {
  font-size: 36px;
  padding-top: 40px;
  font-weight: 800;
  color: #000;
}

.small-text {
  font-size: 14px;
  color: #000;
  font-family: "Lato", sans-serif;
}

.membership-text h5 {
  font-size: 17px;
  font-weight: 800;
}

.various-icons {
  display: flex;
  text-align: center;
  /* justify-content: center; */
  /* align-items: center; */
  width: 80%;
  margin: 20px auto;
  color: #fff;
}

.regular,
.corporate,
.associate,
.student {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%;
}

.corporate {
  margin-top: 20px;
}

.associate {
  margin-top: 37px;
}

.student {
  margin-top: 40px;
}

.regular img,
.corporate img,
.associate img,
.student img {
  width: 150px;
  /* margin-bottom: 20px; */
  border: 1px solid #fff;
  padding: 20px;
  /* border-radius: 50%; */
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.regular img:hover,
.corporate img:hover,
.associate img:hover,
.student img:hover {
  /* background-color: #fff; */
  transform: scale(1.09);
}
.regular h1,
.corporate h1,
.associate h1,
.student h1 {
  font-size: 17px;
  font-family: "Lato";
  color: #000;
}

.find-more-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.find-more {
  padding: 10px 20px;
  color: #fff;
  background-color: #c91f25;
  border-radius: 20px;
  border: none;
  font-weight: 800;
  margin-bottom: 40px;
  width: 211px;
  height: 57px;
  font-weight: 800;
  font-size: 18px;
  transition: all 0.4s ease-in-out;
}

.find-more:hover {
  background-color: #000;
  border: 1px solid black;
}

.find-more a {
  color: #fff;
  text-decoration: none;
}

.business-directory {
  background-color: #eff2f3;
  background-image: url(../images/are\ you\ looking.png);
  background-position: right -20px;
  background-size: cover;
  background-repeat: no-repeat;
}

.Directory-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  height: 100vh;
  /* margin-top: 900px; */
}

.Business-text {
  width: 60%;
  margin-left: 150px;
  /* margin: 0 auto; */
}

.Business-text h1 {
  color: #fff;
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 90px;
}

.Business-text p {
  color: #fff;
  font-size: 16px;
}
.business-image {
  /* background-image: url(../images/are\ you\ looking.png); */
  width: 50%;
  background-position: left;
  background-size: cover;
}

.busi-image {
  height: 100%;
  margin-top: 20px;
}
.image-container {
  margin-top: 130px;
  width: 40%;
}
.qr {
  display: flex;
}
.qrcode {
  width: 120px;
}

.qr-link {
  color: #fff;
}

.location h1 {
  font-size: 18px;
}
.location h2 {
  font-size: 16px;
}

.same {
  font-size: 14px;
  font-weight: 300;
  color: #ddd;
}

.foot {
  margin-top: 270px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
}

.footer-links li {
  list-style-type: none;
}

.footer-links {
  padding: 0;
}

.footer-links a {
  text-decoration: none;
  color: #ddd;
  font-size: 14px;
  font-weight: 300;
}
footer {
  background-color: #000;
  color: #fff;
  width: 100%;
  position: relative;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0px auto;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons img {
  margin-top: 15px;
  width: 24px;
}

.last-killer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}

.quote {
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  font-weight: 900;
}

.quote a {
  text-decoration: none;
  color: #000;
}

.another {
  font-size: 18px;
  font-weight: 800;
}

.call-us {
  font-size: 20px;
}

.the-president {
  margin-top: 0px;
  background-color: #eff2f3;
  min-height: 70vh;
  padding: 20px 0;
}

.pres-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  width: 90%;
  margin: 0px auto;
  /* flex-direction: column; */
  margin-top: 90px;
}

.details {
  /* padding: 20px; */
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
  /* background-color: white; */
  border-radius: 10px;
  max-width: 340px;
  height: 450px;
  text-align: center;
  margin-left: 20px;
}

.details img {
  width: 330px;
  height: 350px;
  /* border-radius: 10px; */
  /* margin-left: 20px; */
}
.name {
  /* font-weight: 900; */
  font-size: 16px;
}

.pres-text {
  /* padding-top: 10px; */
  /* width: 120%; */
  margin-top: -100px;
  /* margin-left: 70px; */
  font-weight: 500;
  font-size: 36px;
}

.soli {
  font-size: 36px;
  font-weight: 800;
}

.pres-state {
  font-size: 16px;
  text-align: justify;
  font-family: "Lato";
  width: 100%;
}
.pres-details h1 {
  font-size: 18px;
  padding-top: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 800;
}
.dsep {
  outline: none;
  border: none;
  width: 95%;
  height: 3px;
  border-radius: 50px;
  background: linear-gradient(to top, #000 50%, #000 50%);
}
.pres-details h6 {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  /* font-weight: 800; */
}
.news-events {
  margin-top: 50px;
}

.news-events h1 {
  font-size: 34px;
}

.row-event img {
  width: 330px;
}

.event-container {
  width: 100%;
}

.event {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* or center if vertical centering is desired */
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
  width: 95%;
}

.shoe {
  text-align: start;
  max-width: 400px;
}

.shoe img {
  width: 100%;
  height: auto;
}

/* .s-panel {
  width: 390px;
  height: 224px;
  background-image: url(../images/solar.png);
  background-position: center;
} */
/*  
.s-camera {
  width: 295px;
  height: 224px;
  background-image: url(../images/camera.png);
  background-position: center;
} */

/* background-position: left; */

/* .shoe-container h1,
.panel-container h1,
.camera-container h1 {
  font-size: 20px;
  margin-top: 9px;
  font-weight: 800;
  color: #000;
  text-align: start;
}

.shoe-container p,
.panel-container p,
.camera-container p {
  font-size: 18px;
  text-align: start;
}

.shoe-container a,
.panel-container a,
.camera-container a {
  color: #6b1014;
} */

.come-here {
  display: flex;
  justify-content: start;
}

@keyframes scroll {
  0% {
    transform: translateX(129%);
  }

  100% {
    transform: translateX(-120%);
  }
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  object-fit: cover;
}
.swiper-wrapper img {
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  filter: grayscale(100%);
  transition: filter 0.4s ease-in-out;
}
.swiper-wrapper img:hover {
  filter: grayscale(0%);
}

.swiper {
  width: 100%;
}

.stakeholders-container {
  margin-top: 70px;
  margin-bottom: 80px;
}

.stakeholders-container h1 {
  margin: 30px;
}

.testimonials {
  width: 100%;
  overflow: hidden;
  text-align: center;
  display: flex;
}

.testimonials h1 {
  font-size: 28px;
  color: #6b1014;
  font-weight: 800;
}

.testimonials h3 {
  font-size: 24px;
  font-weight: 800;
}

.testimonials p {
  font-size: 16px;
}

.testi-wrapper {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* margin: 20px auto; */
}

.star {
  width: 120px; /* Or smaller if needed */
  height: auto;
}
.test {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.star-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.star-container img {
  width: 130px;
}

.testimonials {
  display: flex;
  gap: 2rem; /* spacing between testimonials */
  justify-content: center;
  align-items: flex-start;
  /* padding: 30px 0; */
}

.testimonials h1 {
  font-size: 28px;
  color: #6b1014;
  font-weight: 800;
}

.testimonials h3 {
  font-size: 24px;
  font-weight: 800;
}

.testimonials p {
  font-size: 16px;
  /* margin-bottom: 15px; */
}

/* Fix for centering carousel items */
.carousel-inner {
  width: 100%;
  height: 100%;
}

.monials {
  margin-top: 90px;
}

.testimonials {
  width: 100%;
  overflow: hidden;
  text-align: center;
  display: flex;
  /* position: relative; */
}

.testimonials h1 {
  font-size: 28px;
  color: #6b1014;
  font-weight: 800;
  margin-top: 30px;
}

.testimonials h3 {
  font-size: 24px;
  font-weight: 800;
}

.testimonials p {
  font-size: 16px;
  margin-top: 10px;
}

.testi-wrapper {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* margin: 20px auto; */
}

.star {
  width: 120px; /* Or smaller if needed */
  height: auto;
}

.test {
  position: absolute;
  width: 100%;
  left: 0;
  opacity: 0;
  transform: translateX(-100%);
  transition: none;
}

.test.animate {
  animation: slideInOut 12s ease-in-out forwards;
  z-index: 1;
}

@keyframes slideInOut {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  80% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.star-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.star-container img {
  width: 130px;
}

@keyframes slideInOutLong {
  0% {
    left: -100%;
    opacity: 0;
  }
  10% {
    left: 0;
    opacity: 1;
  }
  80% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}

.Business-sub-text {
  display: none;
}
/* reposive design */

@media (max-width: 1050px) {
  .business-directory {
    height: 50vh;
    background-position: right -39px;
    background-color: #fff;
  }
  .Business-text {
    display: none;
  }

  .Business-sub-text {
    display: block;
    text-align: center;
    margin-top: 10px;
  }

  .qr {
    justify-content: center;
  }

  .qr-link {
    text-align: center;
    margin-top: 9px;
    margin-bottom: 20px;
  }
  .qr-link a {
    color: black;
  }
}
@media (max-width: 1088px) {
  .open {
    display: block;
    cursor: pointer;
  }
  .sub-nav {
    display: none;
  }

  .second-nav {
    display: none;
    overflow: hidden;
  }

  .hero-text {
    width: 50%;
    height: 70%;
    padding: 10px 20px;
  }
  .hero-text h2 {
    font-size: 38px;
    margin-bottom: 10px;
  }

  .hero-text p {
    text-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .res-nav {
    /* display: block; */
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    width: 350px;
    height: 100%;
    gap: 30px;
    background-color: #fff;
    z-index: 400;
    transition: all 0.5s;
    right: 0;
    animation: show 0.2s linear;
    /* right: -350px; */
  }
  .close {
    text-align: end;
    width: 40px;
    cursor: pointer;
  }

  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .now {
    margin-top: 0px;
  }
  .about {
    margin-top: -180px;
  }
}

@media (max-width: 1087px) {
  /* .about {
    margin-top: -130px;
  }
  .now {
    margin-top: -90px;
  } */
  .about {
    margin-top: -280px;
  }
}

@media (max-width: 991px) {
  .image-container {
    display: none;
  }
  .about {
    margin-top: -280px;
  }

  .about-text {
    width: 180%;
    margin-top: 90px;
    margin-bottom: 0;
  }
}

/* at 980px */
@media (max-width: 980px) {
  .event {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
  }

  .hero-text {
    position: absolute;
    top: 170px;
  }
  /* .about { */
  /* margin-top: -30px; */
  /* } */
}

@media (max-width: 941px) {
  .hero-text {
    position: absolute;
    left: 0;
    width: 100%;
    height: 398px;
    z-index: 1;
    margin: 0;
    color: white;
    padding: 20px 30px;
    border-radius: 6px;
    background-color: #fff;
  }

  .hero-text h2 {
    font-family: "Lato";
    color: #c91f25;
    font-size: 25px;
    color: #000;
    font-weight: 800;
    margin-top: 10px;
  }

  .carousel {
    margin-top: 40px;
    width: 100vw;
    height: 100vh; /* Match the container height */
    /* Position absolutely within welcoming-text */
    top: 40%;
    left: 0;
    z-index: 20;
    margin: 0px;
    padding: 0;
  }

  header {
    height: 78vh;
  }
  .carousel-item img {
    height: 45vh;
    /* width: 40px; */
    object-fit: cover;
    /* object-position: 85% 40%; */
  }

  .about {
    margin-top: -90px;
  }
  .hero-text p {
    margin-bottom: 0px;
  }
  .join {
    width: 170px;
    margin-top: 0px;
  }
}

@media (max-width: 900px) {
  .about {
    /* height: 100vh; */
    margin-top: -50px;
  }
  .about-text {
    /* text-align: center; */
    width: 230%;
  }

  .about-text h2 {
    /* width: 140%; */
    word-wrap: break-word;
  }

  .now {
    width: 90%;
    /* margin-top: 150px; */
  }
  .learn-more {
    margin-left: 20px;
  }
  .about-experience {
    gap: 30px;
  }
  .image-container {
    display: none;
  }
}

@media (max-width: 879px) {
  .various-icons {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* width: 80%; */
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .regular,
  .corporate,
  .associate,
  .student {
    width: 100%; /* Or auto if you want the content width only */
    /* margin-top: 10px; Reset or adjust if necessary */
  }

  .regular img,
  .corporate img,
  .associate img,
  .student img {
    /* margin-bottom: 20px; */
    border: none;
    padding-bottom: 0px;
  }
}

@media (max-width: 767px) {
  .about {
    height: 130vh;
    margin-top: -90px;
  }
}
@media (max-width: 674px) {
  /* .hero-text {
    position: absolute;
    top: 170px;
    height: 60%;
    display: none;
  } */

  .hero-text {
  }

  .hero-text h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .join {
    width: 40%;
    margin-top: 20px;
  }

  .foot {
    margin-top: 381px;
  }
}

@media (max-width: 659px) {
  .hero-text h2 {
    margin-bottom: 8px;
  }
  .join {
    width: 30%;
    padding: 10px 10px;
    margin-bottom: 9px;
  }

  .hero-text p {
    font-size: 13px;
  }
}
/* @media (max-width: 600px) {
  .various-icons {
    margin-left: 140px;
  }
} */
/* @media (max-width: 489px) {
  .various-icons {
    margin-left: 100px;
  }
} */

@media (max-width: 589px) {
  .pres-details {
    display: flex;
    flex-direction: column;
  }

  .pres-state {
    width: 130%;
  }
}

@media (max-width: 480px) {
  .about {
    height: 147vh;
    /* margin-top: 0px; */
  }

  .now {
    margin-top: 30px;
  }
  .learn-more {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
  }

  .more {
    width: 30%;
    padding: 8px 4px;
    margin-left: 10px;
  }

  .call {
    width: 70%;
    padding: 8px 4px;
  }
}

@media (max-width: 420px) {
  .about {
    height: 155vh;
  }

  .learn-more {
    margin-top: 0;
  }

  .call {
    white-space: nowrap;
    width: 80%;
  }
}

@media (max-width: 430px) {
  .hero-text {
    height: 50vh;
    /* margin-top: 30px; */
    padding: 0px;
  }

  .hero-text h2 {
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .hero-text p {
    margin-top: 0px;
    margin-bottom: 0;
  }

  .join {
    white-space: nowrap;
    /* margin-top: 0; */
    margin-top: 10px;
    /* padding-top: 0; */
  }
}

@media (max-width: 414px) {
  .hero-text {
    margin-top: 40px;
    /* z-index: 900; */
    height: 49vh;
  }
  .hero-text h2 {
    width: 70%;
    text-wrap: wrap;
    margin-bottom: 10px;
  }
}
@media (max-width: 364px) {
  .learn-more {
    display: none;
    opacity: 0;
  }
}
@media (max-width: 370px) {
  .hero-text {
    height: 55vh;
  }
  .hero-text h2 {
    margin-top: 9px;
  }

  .hero-text p {
    margin-bottom: 0px;
  }

  .join {
    margin-top: 0px;
  }
}

.floating-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  right: 90px;
  background-color: #22c55e;
  padding: 4px 8px;
  animation: bounce 1s infinite;
  z-index: 90;
}

.floating-icon:hover {
  background-color: #16a34a;
}
.floating-icon img {
  margin-top: -8px;
  margin-right: 5px;
  width: 20px;
}

.floating-icon a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
}

.copyright {
  font-size: 14px;
  font-weight: 300;
  color: #ddd;
}

.efenergy {
  border-radius: 40px;
  width: 10px;
}

.regions {
  width: 180px;
  height: 250px;
  top: 45px;
  right: 220px;
  position: absolute;
  background-color: #fff;
  z-index: 30;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  overflow-y: scroll;
  border-radius: 5px;
  scrollbar-width: none;
}

.hidden {
  display: none;
}

.regions h3 {
  cursor: pointer;
  font-size: 16px;
  padding-bottom: 8px;
  padding-top: 8px;
  /* border-bottom: 2px solid #000; */
}

/* .regions h3:hover {
  box-shadow: 1px 2px 4px #22c55e;
  transition: 0.4s linear;
} */

.me {
  margin-top: 10px;
}
